

body { font-family:"lato","Open Sans", "Helvetica","Arial",, sans-serif; background: #f5f5f5; color: #666;}
h1,h2,h3,h4 {color: #042049;}
h3{
    font-size: 20px;
}
.bg-fff {background: #fff;}
.bg-blue {
    background: #5c9dc0;
    padding: 35px 0;
}
.form-control,.btn,input { border-radius: 2px;}

.btn-info, .btn-info:visited, .btn-info:focus {
    border: 1px solid #F69330;
    color: #fff;
    background: #F69330;
}

.btn-info:hover{
    border: 1px solid #72a435;
    color: #fff;
    background: #72a435;
}

.btn-slide2,.btn-slide2:visited {
    border: 1px solid #fff;
    color: #fff;
    padding:10px 30px 10px 30px;
    font-size: 18px;
    text-align: center;
}

.btn-slide2:hover {
    color: #fff;
    border: 1px solid #F69330;
    background: #F69330;
}

.btn-a1, .btn-a1:visited {
    border: 1px solid #a8aeb5;
    color: #fff;
}

.btn-a1:hover {
    color: #fff;
    border: 1px solid #F69330;
    background: #F69330;
}

.btn-a2 {
    border: 0;
    color: #fff;
    background: #F69330;
}

.btn-a2:hover {
    color: #fff;
    background: #72a435;
}

.btn-blue, .btn-blue:visited {
    border: 1px solid #cecece;
    color: #fff;
}
.btn-blue:hover {
     color: #fff;
    border: 1px solid #F69330;
    background: #F69330;
}

.btn-o {
  padding:6px 15px 6px 15px;
  margin-top: 8px;
    border: none;
    color: #F69330;
    background: #F69330;
}
.btn-o:hover {
    color: #fff;
    background: #72a435;
}

.g-maintit {text-align: center; margin: 0px 10px 50px 10px;}
.g-maintit h2 {margin:0 5px 20px 5px;}
.g-maintit p {}
.g-maintit2,.g-maintit2 h2,.g-maintit2 p{margin: 0; padding: 0; color: #fff;}

#fixbtn {
    width: 40px;
    position: fixed;
    right: 10px;
    bottom: 15%;
}

#fixbtn a {display: block; width: 40px; height: 40px; background: url(pictures/Headerimage.jpg) no-repeat center #464646; margin-bottom: 2px;}
#fixbtn a.i2 {background-image: url(pictures/Headerimage.jpg);}


      .wp{ width:1200px; margin:0 auto;}
      
/* head */
.navbar-brand {padding: 10px 15px;}
.navbar-a {
    background: #464646;
    color: #fff;
    min-height:70px;
    padding-top: 10px;
}
.navbar-a li {margin-right: 10px;}
.navbar-a li a {color: #fff; font-size: 16px;}
.navbar-a li a:hover {color: #F69330; background: #464646; }
.navbar-toggle .icon-bar { background: #fff;}
.navbar-a .tel { display: inline-block; vertical-align: middle; padding-left: 20px; font-size: 16px;}
.navbar-a .tel span {color: #F69330; font-size: 12px;}
.navbar-a .btn {padding: 6px 25px; margin-left: 5px;}
/*bottom*/

#footer {
    background: #47484C;
    padding: 50px 0 30px 0;
    color: #c2c2c2;
    margin-top: 0;
}
#footer a { color: #fff;}
#footer p {font-size: 12px;}
.i-eq {padding-top:10px;}
.i-eq span{ display: inline-block; width: 130px; height: 130px; background: none;  text-align: center; border-radius: 7px; margin-bottom: 10px; padding:0;}
.i-eq span em {font-style: normal; font-size: 14px; color: #fff; margin-top: 5px;}
.legal {text-align: center; margin-top:40px;}
.legal p {padding:0; margin-top: 0px;}
.navs,.navs li {padding: 0; margin: 0; list-style:none;}
.navs li {font-size: 14px; margin-bottom: 10px;}
#footer .tel p, #footer .ask p, #footer .weibo p {padding-top: 0; margin-bottom: 5px;}
#footer .phone, #footer .website {font-size: 16px; color: #fff;}
#footer .ask, #footer .weibo {margin-top:15px;}
#footer .account {font-size: 14px; color: #fff;}

/* banner */
.carousel-control {text-shadow:none;}
.carousel-control.left, .carousel-control.right {background-image: none}
.carousel-control:hover{
  color: #F69330;
}

/* banner1 */
#banner1 {background: url(pictures/slid1.jpg) no-repeat center top; height: 700px;
-webkit-background-size: cover;
background-size: cover;
}
.m-hi {padding-top: 200px; text-align: center; color: #fff; font-size: 22px;}
.m-hi h1 {font-size: 60px; color: #fff; font-weight: bold;}
.m-hi p {margin: 30px 0; font-size: 18px;}
.m-so1 {
    padding: 20px;
    padding-right: 150px;
    position: relative;
}

#question-input::-webkit-input-placeholder { color:#CBCBCB; font-size: 16px; }

.m-so1 .inp,.m-so-x .inp { width: 100%;}
.m-so1 .btn,.m-so-x .btn { position: absolute; right: 20px; top: 20px; width: 115px;}
.m-so-x {
    position: relative;
    padding-right: 130px;
}
.m-so-x .inp {border: 0;}
.m-so-x .btn {width: 100px; top: 0; font-size: 14px; padding: 14px 0;}
#btn-slide1 {
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 30px;
}

/* banner2 */
#banner2 {background: url(pictures/slid2.png) no-repeat center top; height: 700px;
-webkit-background-size: cover;
background-size: cover;
}

.m-so2 {
    position: relative; text-align: center;
    margin-top: 20px;
}

.m-so2 .btn { text-align: center;}


/* banner3 */
#banner3 {background: url(pictures/slid3.jpg) no-repeat center top; height: 700px;
-webkit-background-size: cover;
background-size: cover;
}
.m-hi {padding-top: 200px; text-align: center; color: #fff; font-size: 22px;}
.m-hi h1 {font-size: 60px; color: #fff; font-weight: bold;}
.m-hi p {margin: 30px 0; font-size: 18px; }
.m-so {
    padding: 20px;
    padding-right: 150px;
    position: relative;
}

.m-so .inp,.m-so-x .inp { width: 100%;}
.m-so .btn,.m-so-x .btn { position: absolute; right: 20px; top: 20px; width: 115px;}
.m-so-x {
    position: relative;
    padding-right: 130px;
}
.m-so-x .inp {border: 0;}
.m-so-x .btn {width: 100px; top: 0; font-size: 14px; padding: 14px 0;}




/* circles */
.i-ico {
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
}

.i-ico1 {background:  no-repeat center;
         background-color: #464646;
         border-radius: 50%;}

.i-ico2 {background:  no-repeat center;
background-color: #464646;
         border-radius: 50%;}

.i-ico3 {background: no-repeat 21px;
         background-color: #464646;
         border-radius: 50%;}
.i-ico4 {background: no-repeat center;
         background-color: #464646;
         border-radius: 50%;}

.i-icobox {
    text-align: center;
    padding: 70px 10px 50px 10px;
}

.i-ico1:hover, .i-ico2:hover, .i-ico3:hover, .i-ico4:hover {
    background-color:#F69330;
    border-radius: 50%;
}

.i-ico p {color:#47484C;}

/* little triangle*/
#seperator {
  background: #fff;
  height: 10px;
  left: 0; right: 0;
}

.down {
  width: 100%;
  background: #464646;
}

.down:after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
}



.learn-online {background-color:#464646;
               padding:70px 10px 50px 10px;}
.learn-online h2 {
      font-size: 40px;
}
#learn-online-tit {text-align: center; margin: 20px 10px 30px 10px;}
#learn-online-tit h2 {color:#F69330;}
#learn-online-tit p {
      color:#cecece;
}
.i-msg{ background: transparent; padding:10px 20px; margin-bottom: 70px; text-align: center;
       }
.i-msg p {padding-top: 20px; color: #cecece; font-size: 14px;}
.i-msg .btn {padding: 10px 25px;}
.i-msg h3 {color:#fff;}

.i-msg-img {
    width: 300px;
    height: 300px;
    display: inline-block;
    text-align: center;
}
.i-msg1 {background: url(pictures/1leftflash.png) no-repeat center;}
.i-msg2 {background: url(pictures/2leftflash.png) no-repeat center;}
.i-msg3 {background: url(pictures/3leftflash.png) no-repeat center;}

/* scroll effect*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 700ms linear;
  -webkit-transition: all 700ms linear;
  -o-transition: all 700ms linear;
  transition: all 700ms linear;
  -moz-transform: translate3d(-200px, 0px, 0px);
  -webkit-transform: translate3d(-200px, 0px, 0px);
  -o-transform: translate(-200px, 0px);
  -ms-transform: translate(-200px, 0px);
  transform: translate3d(-200px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*search*/
#need-input::-webkit-input-placeholder { color:#F69330; font-size: 16px; }
.bg-blue .inp {background: url(picutres/look.png) no-repeat 15px center #fff; padding-left: 40px;}

/* news */
.news {
  background-color: #fff;
  padding:100px 10px 100px 10px;
}
.news h2 {font-size: 40px;}
.news p {
      color:#47484C;
}
#news-title {margin-bottom: 100px;}
.list-txt {}
.list-txt .date {display: block; width: 80px; height: 80px;
 background:#464646 ; color: #fff; border-radius: 50%;
 line-height: 62px;
 font-size: 15px;
 text-align: center;
 float: left;
 margin-right: 15px;
}

.list-txt .date:hover {
  border: 10px solid #F69330;
}
.list-txt a {color: #042049;}
.list-txt a:hover {
    color: #F69330;
    text-decoration: none;
}
.list-txt p {color: #47484C;}
.list-txt h4 {font-size: 16px;}
.list-txt .date em {font-style: normal;}

.list-txt li {padding: 0; margin: 0; list-style: none; overflow: hidden; margin-bottom: 50px;}

.i-more {margin-top:20px;}
.btn-load, .btn-load:visited {border: 1px solid #464646;
    color: #464646;
  padding: 10px 25px;}

.btn.btn-load:hover {
    color: white;
    border: 1px solid #F69330;
    background: #F69330;
}

/* learning page */
.masthead {
  background-color: @brand-primary;
}

.alert {
  background-color: @alert-message-background;
}


/*to-do */
form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}

a.close {
  float: right;
}

/*prograss check */
#container { text-align: center; margin: 20px; }
h2 { color: #CCC; }
a { text-decoration: none; color: #EC5C93; }

.bar-main-container {
  margin: 10px auto;
  margin-top: 2.7em;
  width: 800px;
  height: 50px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  color: #FFF;
}

.wrap { padding: 8px; }

.bar-percentage {
  float: left;
  background: rgba(0,0,0,0.13);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px 0px;
  width: 18%;
  height: 16px;
}

.bar-container {
  float: right;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 10px;
  background: rgba(0,0,0,0.13);
  width: 78%;
  margin: 12px 0px;
  overflow: hidden;
}

.bar {
  float: left;
  background: #FFF;
  height: 100%;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* COLORS */
.azure   { background: #38B1CC; }
.emerald { background: #2CB299; }
.violet  { background: #8E5D9F; }
.yellow  { background: #EFC32F; }
.red     { background: #E44C41; }
.footer-icon {
     width: 45px;
  height: 45px;
    clear:both;
  display: block;
  float: left;
  margin-right: 20px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*draggable */
#drag-elements {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
#drag-elements li {
  background: tomato;
  margin: 0 4%;
  color: white;
  padding: 0.5em;
  border: 1px solid gray;
  font-size: 0.8em;
}

#creat-stickers {
  width: 100%;
  text-align: center;
  border: 1px tomato dashed;
  height: 8em;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#creat-stickers {
  border-color: pink;
}


img {
  max-height: 500px;
  position: absolute;
  border: solid black 1px;

}

/*group page */
.multimediaContainer {
  margin: auto;
  height: 500px;
  margin: 30px;
}

.splitContainer {
  margin: auto;
  height: 500px;
  margin: 30px;
}
